@import "variables.scss";

body#welcome-bg{

}

div{

  &.gspacet{
    margin-top: 20vw;
  }

  &.pbg-blueBase{
    background-color: $blue-base;
  }
}
.pbg-dark{
  background-color: black;
}

a{
  color: $blue-base;
}
