@import "variables.scss";

body#welcome-bg{

}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}


div{

  &.gspacet{
    margin-top: 20vw;
  }

  &.pbg-blueBase{
    background-color: $blue-base;
  }

  &.g-recaptcha{
    margin:auto;
    width:50%;
  }
}
.pbg-dark{
  background-color: black;
}

a{
  color: $blue-base;
}
